@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Header Fnt */
.header-font {
    font-family: "Dancing Script", cursive;

}

.poppins {
    font-family: "Poppins", sans-serif;

}

@import "tailwindcss";

@plugin "daisyui" {
    themes: light --default;
}

@plugin "daisyui/theme" {
    name: "light";
    default: true;
    --color-primary: #D72050;
    --color-secondary: #D72050;
    --bg-base-100: #f3f3f3;
    --bg-base-200: #e7e7e7;
    --bg-base-300: #E5E7EB;
}

@plugin "daisyui/theme" {
    name: "dark";
    --color-primary: #00B4D8;
    --bg-base-100: #181825;
    --bg-base-200: #232336;
    --bg-base-300: #2C2C3A;
}